numpy==2.2.6
pandas==2.3.3
scipy==1.15.3
scikit-learn==1.6.1
statsmodels==0.14.6
xgboost==3.2.0

torch==2.5.1
torchvision==0.20.1
timm==1.0.26
torchstain==1.4.1

lifelines==0.30.0

matplotlib==3.10.8
seaborn==0.13.2

opencv-python==4.13.0.92
Pillow==12.1.1
pydicom==3.0.2
wsidicom==0.34.0

joblib==1.5.3
requests==2.33.1
tqdm==4.67.3
